#md-main-navbar, .dropdown-menu.show {
    padding-inline: 2em;
}

#md-main-navbar {
    background-color: var(--bs-primary) !important;
}

body {
    min-height: 100dvh !important;
    display: flex;
    flex-direction: column;
}

#md-all {
    flex-grow: 1;
}

a {
    text-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .navbar-collapse, ul.navbar-nav {
        padding-top: 10px !important;
    }

    .navbar-collapse {
        height: 75% !important;
    }
}

.dropdown-menu.show li.dropdown {
    min-width: max-content;
}

ul.navbar-nav {
    gap: 2em;
}

@media screen and (min-width: 576px) {
    a.navbar-brand {
        padding-right: 4em;
    }
}

#md-page-menu a, nav a {
    text-decoration: none;
}

#md-body-container {
    margin-top: 40px;
}

#md-content *:not(h1, h2, h3, h4, h5, h6, small, small *), .md-text {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, [class*="header"] {
    font-family: "PT Sans";
}

h2, h3, h4, h5 {
    border-left: 7px solid;
    padding-left: .25em;
}

h2 {
    border-left-color: hsl(from var(--bs-success) h s l / 1);
}

h3 {
    border-left-color: hsl(from var(--bs-success) h s l / 75%);
}

h4 {
    border-left-color: hsl(from var(--bs-success) h s l / 50%);
}

h5 {
    border-left-color: hsl(from var(--bs-success) h s l / 25%);
}

.table {
    display: block;
    overflow-x: scroll;
}

.md-inpage-anchor:not(:first-child) {
    margin-top: 30px;
}

blockquote {
    background-color: rgba(232, 232, 232, 0.655);
    padding: 18px 40px !important;
    border-left: 5px solid gray;
}

h1 {
    margin-bottom: 30px !important;
}

table {
    border: 0px !important;
}

li.dropdown-header {
    background-color: var(--bs-success);
    border-radius: .375rem;
}

.dropdown-menu li.dropdown {
    padding: 2.5px 0;
}

.dropdown-menu > li.dropdown > :not(.dropdown-header, .dropdown-divider)::before {
    content: '★ ';
}
